<div class="donateBody">
  <section class="page-section-header">
    <div class="header-text">
      <h2>With $20.00 we can feed up to 15 people</h2>
      <p>Your tax deductable donation goes directly to providing food to those in need and increasing the access to much needed resources to sustain and improve everyday life.</p>
    </div>
  </section>

  <section class="donation-section">
    <h1>Donate Today</h1>
    <div class="donate-icons">
      <i class="fa fa-money"></i>
      <i class="fa fa-cutlery"></i>
      <i class="fa fa-smile-o"></i>
    </div>
    <div class="donate-btns">
      <!--
      <md-button ng-repeat="donation in dc.donationAmounts" class="donate-btn md-raised" ng-click="dc.makeDonation(donation)" ng-class="dc.DonationType(donation)">${{donation}}</md-button>
      <md-button class="donate-btn md-raised other" ng-click="dc.makeDonation('?')">Other Amount</md-button>
      -->
      <md-button ng-repeat="donation in dc.donationAmounts" class="donate-btn md-raised" ui-sref="app.construction" ng-class="dc.DonationType(donation)">${{donation}}</md-button>
      <md-button class="donate-btn md-raised other" ui-sref="app.construction">Other Amount</md-button>
    </div>

  </section>
</div>
