<div class="donateBody">
  <section class="page-section-header">
    <div class="header-img left-sub"><img ng-src="{{dc.mainImage}}" ></div>
    <div class="header-text right-sub">
      <i class="fa fa-university"></i>
      <h1>Donate</h1>
      <h2>With $20.00 we can feed up to 15 people</h2>
      <p>Your tax deductable donation goes directly to providing food to those in need and increasing the access to much needed resources to sustain and improve everyday life.</p>
    </div>
  </section>

  <section class="donation-section">
    <h1>Donate Today</h1>
    <div class="donate-icons">
      <i class="fa fa-money"></i>
      <i class="fa fa-cutlery"></i>
      <i class="fa fa-smile-o"></i>
    </div>
    <div class="donate-btns">
      <!-- Main Buttons -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7U2LSFEL7HKL4">
        <md-button ng-repeat="donation in dc.donationAmounts" class="donate-btn md-raised" type="submit" ng-class="dc.DonationType(donation)">${{donation}}</md-button>
      </form>
      <!-- Other Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7U2LSFEL7HKL4">
        <md-button class="donate-btn md-raised other" type="submit">Other Amount</md-button>
      </form>
    </div>

  </section>
</div>
