<div class="helpUsBody">
  <section class="page-section-header">
    <div class="header-img left-sub"><img ng-src="{{huc.mainImage}}" ></div>
    <div class="header-text right-sub">
      <h1>Help Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
    </div>
  </section>

  <section class="volenteer-section">
    <h1>Volenteer</h1>
    <div class="info">
      <div class="left-sub">
        <div ui-calendar="huc.uiConfig.calendar" class="span8 calendar" ng-model="huc.eventSources"></div>
      </div>
      <div class="right-sub">
        OTHER INFO
        Count: {{ huc.trips.length}}
        Trips: {{ huc.trips}}
      </div>
    </div>
  </section>

  <section></section>

</div>
