<div class="helpUsBody">
  <section class="page-section-header transition-section bottom">
    <i class="fa fa-handshake-o"></i>
    <div class="header-text">
      <h1>Help Us</h1>
      <p>We are a growing team that is focused on making sure that we help those in need as much as possible.  Learn about ways that you can become apart of our team or even just supporting our mission.</p>
    </div>
    <div class="header-img"><img ng-src="{{huc.mainImage}}" ></div>
    <div class="transition-container bottom"><div class="transition light-grey"></div></div>
  </section>

  <section class="volenteer-section">
    <div class="section-container">
      <h1 class="subsection-header"><i class="fa fa-fire" aria-hidden="true"></i> <span>Volenteer</span></h1>
      <div class="volenteer-text">All interested volunteers please send an email titled “Interested In Changing Lives” with your name and contact information to 1ReddBag@gmail.com.  View our calender of events to see when you can help us with our next meet up.</div>

      <div class="volenteer-info">
        <div class="left-sub">
          <div ui-calendar="huc.uiConfig.calendar" class="span8 calendar" ng-model="huc.eventSources"></div>
        </div>
        <div class="right-sub">
            <div class="sub-title">Future Service Events:</div>
            <div class="future-meetups">
              <div class="meets" ng-repeat="next in huc.newFewTrips" is-visible voffset="-400">
                <div class="item dateTime">
                  <div class="date big">{{next.start | date: 'MMM dd, yyyy'}}</div>
                  <div class="time little">{{next.start | date: 'hh:mm a'}}</div>
                </div>
                <div class="item locationTitle">
                  <div class="title big">{{next.title}}</div>
                  <div class="location little">{{next.location}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="contact-info">
            <div class="contact-title">Contact Us:</div>
            <p class="contact-email">For more information or to directly speak with a member of the One Red Bag team email us at <a href="mailto:1Reddbag@gmail.com">1Reddbag@gmail.com</a></p>
          </div>
        </div>
      </div>

  </section>

  <section class="support-section transition-section top bottom">
    <div class="transition-container top"><div class="transition flip light-grey"></div></div>
    <div class="section-container">
      <h1 class="subsection-header"><span>Support Us</span></h1>

      <div class="cards-container">
        <div class="content-card page-cards c3" ng-repeat="card in huc.cards" ui-sref="{{card.link}}">
          <div class="card-container {{card.specialid}}" is-visible>
            <div class="card-icon"><i class="fa" ng-class="card.icon"></i></div>
            <div class="card-text">
              <h2>{{card.header}}</h2>
              <p><span ng-show="card.type == 'news-link'">{{card.date | date: 'MM/dd/yyyy'}}:</span> {{card.text}}</p>
            </div>
            <div class="more-link"><span>More Information <i class="fa fa-angle-right"></i></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="transition-container bottom"><div class="transition black"></div></div>
  </section>

</div>
