<div class="homeBody">
    <section class="orb-carousel">
      <uib-carousel active="hc.active" interval="hc.myInterval" no-wrap="false" no-pause="true">
        <div class="carousel-cover">
          <div class="cover-content">
            <div class="cover-title">1 <span>Redd</span> Bag</div>
            <div class="cover-text">We are a Not-For-Profit 501(c)3 aimed at hand delivering food, water & encouragement to those in need.  Come change the world with us!</div>
          </div>
        </div>
        <uib-slide ng-repeat="slide in hc.slides track by slide.id" index="slide.id">
          <img back-img="{{slide.image}}">
          <div class="carousel-caption">
            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </section>

    <section class="bag-count">
      <div class="bg-count-text">Feeding Those In Need<br /> 1 Bag At A Time</div>
	    <div class="bg-count-number"><div class="count">{{hc.bagCount}}</div> <div class="helper-text"><span>Total number of  </span><img src="img/Logo_bw.png"><span>'s to date</span></div> </div>
    </section>

    <section class="content-links">
      <h1>More Information</h1>
      <div class="cards-container">
        <div class="content-card" ng-repeat="card in hc.cards" ui-sref="{{card.link}}">
          <div class="card-icon"><i class="fa fa-5x" ng-class="card.icon"></i></div>
          <div class="card-text">
  					<h2>{{card.header}}</h2>
            <p ng-show="card.type == 'news-link'"><span>{{card.title}}</span> <br> <span>{{card.date | date: 'MM/dd/yyyy'}}</span> </p>
  					<p>{{card.text}}</p>
				  </div>
          <div class="more-link"><span>See More <i class="fa fa-angle-double-right"></i></span></div>
        </div>
      </div>
    </section>
</div>
