<div class="homeBody">
    <section class="orb-carousel">
      <uib-carousel active="hc.active" interval="hc.myInterval" no-wrap="false" no-pause="true">
        <div class="carousel-cover">
          <div class="cover-title">One <span>Red</span> Bag</div>
          <div class="cover-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        <uib-slide ng-repeat="slide in hc.slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </section>

    <section class="bag-count">
      <div class="bg-count-text">Feeding Those In Need<br /> 1 Bag At A Time</div>
	    <div class="bg-count-number"><div class="count">{{hc.bagCount}}</div> <div class="helper-text"><span>Total number of  </span><img src="img/Logo_bw.png"><span>'s to date</span></div> </div>
    </section>

    <section class="content-links">
      <h1>More Information</h1>
      <div class="cards-container">
        <div class="content-card" ng-repeat="card in hc.cards" ui-sref="{{card.link}}">
          <div class="card-icon"><i class="fa fa-5x" ng-class="card.icon"></i></div>
          <div class="card-text">
  					<h2>{{card.header}}</h2>
  					<p><span ng-show="card.type == 'news-link'">{{card.date | date: 'MM/dd/yyyy'}}:</span> {{card.text}}</p>
				  </div>
          <div class="more-link"><span>See More <i class="fa fa-angle-double-right"></i></span></div>
        </div>
      </div>
    </section>
</div>
