<div class="mediaBody">
  <section class="page-section-header">
    <div class="header-text">
      <i class="fa fa-3x fa-picture-o"></i>
      <h1>Media</h1>
    </div>
  </section>

  <section class="media-controls">
    <div class="nav-container">
        <nav class="nav navbar-inverse" id="orb-media-nav" role="navigation" nav-hold>
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav" id="orb-inside-media-nav">
                <li ng-repeat="navitem in mc.activeNav.items" ng-class="mc.getNavId(mc.activeLevel.id)"><a class="controls" ng-click="mc.mediaNav(navitem.title)">{{navitem.title}}</a></li>
                <!--<li class="lvl1"><a class="controls" ng-click="mc.mediaNav('photos')">Photos</a></li>
                <li class="lvl1"><a class="controls" ng-click="mc.mediaNav('videos')">Videos</a></li>-->
              </ul>
            </div>
          </div>
        </nav>
      </div>
  </section>

  <section class="media-content">
    <p ng-if="mc.pageMedia==null">NO CONTENT YET</p>
    <p ng-if="mc.pageMedia!=null" ng-repeat="pageContent in mc.pageMedia.content">{{pageContent}}</p>

  </section>

  <div style="clear:both"></div>
</div>
