@medium-screen: ~"only screen and (min-width: 801px) and (max-width: 1024px)";
@tablet-screen: ~"only screen and (min-width: 641px) and (max-width: 800px)";
@mobile-screen: ~"only screen and (max-width: 640px)";

@font-size: 16px;
@mainColor: rgb(219,77,77);
@mainColorBack: rgba(219,77,77,0.5);
@secondColorBack: rgba(239,241,245,1);

html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: #000;

  font-size: @font-size;

  @media @medium-screen { font-size: 14px; }
  @media @tablet-screen { font-size: 12px; }
  @media @mobile-screen { font-size: 10px; }
}
.header {
  z-index:100;
}
.mainBody {
  z-index:50;
  min-height: 100%;
}

// Navigation
.nav-container {
  z-index: 100;
  .nav-top {
    position: relative;
  	width: 100%;
  	text-align: center;
  	padding: 10px 0px;
  	background-color: #ffffff;
    .header-logo {
      cursor: pointer;
      .logo-img {
        width: 100px;
        opacity: .5;
      }
      .logo-text {
        font-size: 2rem;
        width:100%;
        position: absolute;
        top:35%;
        span {
          color: @mainColor;
          margin: 0px 10px;
        }
      }
    }
  }

  #orb-main-nav {
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    &.screenPass {
      position:fixed;
      top:0;
      width:100%;
      .container {
        .navbar-header {
          .nav-logo {
            height: 35px;
            margin: 8px 0px 0px 15px;
            -webkit-filter: invert(100%);
            filter: invert(100%);
            display: none;
            @media @tablet-screen, @mobile-screen { display: inline-block; }
          }
        }
      }
    }
    .container {
      .navbar-header {
        .nav-logo {
          display: none;
        }
      }

      .navbar-collapse {
        #orb-inside-nav {
          width:100%;
          li {
            width:16%;
            @media @tablet-screen { width:100%; }
            @media @mobile-screen { width:100%; }
            a {
              text-align: center;
              border-top:2px solid rgba(0,0,0,1);
              color: rgba(255,255,255,1);
              &:hover, &:focus{
                background-color: rgba(255,255,255,0.9);
                color: rgba(0,0,0,1);
                border-top:2px solid rgba(204,204,204,0.2);
              }
              &.active {
                color:@mainColor;
                border-top: 2px solid @mainColor;
                font-weight: bold;
              }
              &.donate-link {
                background-color: @mainColor;
                border-top: 2px solid @mainColor;
                &.active { background-color:transparent;  }
                &:hover, &:focus{ background-color: rgba(255,255,255,0.9); border-top:2px solid rgba(204,204,204,0.2); color: @mainColor; }
              }
            }
          }
        }
      }
    }
  }

}

// Footer
.footer {
  z-index:51;
  width: 100%;
  background-color: #000;
  min-height: 200px;

  .footer-container {
    padding:2%;
    div {
      .footer-title {
        color: #ffffff;
	      font-weight:bold;
	      font-size: 1.2rem;
        margin-bottom: 1%;
        &.title2 { margin-top: 3%;}
      }
      font-size: .8rem;
    }
    .nav-links {
      a {
        display: block;
        color: @mainColor;
        &:hover { text-decoration: none; color: rgba(255,255,255,0.9); }
      }
    }
    .contact-links {
      a {
        display: inline-block;
        color: @mainColor;
        padding: 1% 2%;
        &:hover { text-decoration: none; color: rgba(255,255,255,0.9); }
      }
      span { color: rgba(255,255,255,1);}
    }
  }
}

/*Main Body*/
.underconstruction {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}
.page-section-header {
  min-height: 500px;
  background-color: @mainColorBack;
  .header-img {
    padding: 2% 3%;
    img { width: 100%; max-height: 400px;}
  }
  .header-text {
    text-align: center;
    vertical-align: top;
    padding: 2% 4% 2% 0%;

    h1 { font-size: 3rem; font-weight: bold; }
    p {  font-size: 1.2rem; line-height: 3.4rem; }
  }
}

.left-sub {
  display: table-cell; width:50%;
  @media @tablet-screen, @mobile-screen { display: block; width:100%; }
}
.right-sub {
  display: table-cell; width: 49%;
  @media @tablet-screen, @mobile-screen { display: block; width:100%; }
}

.cards-container {
  margin-top: 5%;
  padding: 0% 2%;
  .content-card {
    display: table-cell;
    width:33%;
    padding:2%;

    @media @tablet-screen, @mobile-screen { display: block; width:100%; }
    &:hover {
      background-color: @mainColorBack;
      color: rgba(255,255,255,1);
      cursor: pointer;
      -webkit-transition: all 1s;
      transition: all 1s;
      .card-icon { color: rgba(0,0,0,1); }
      //.more-link { display: block; }
    }
    .card-icon {
      text-align: center;
      color: @mainColor;
    }
    .card-text {
      h2 {
        font-size: 1.9rem;
        text-align: center;
      }
      p {
        font-size: .9rem;
        span { font-weight: bold;}
      }
    }
    .more-link { margin-top: 2.5rem; text-align: right; color: rgba(0,0,0,1); font-weight: bold;}
  }
}
