.helpUsBody {
  section {
    &.volenteer-section {
      background-color: @secondColorBack;
      max-height: 600px;
      padding: 2% 10%;
      h1 { display: block; text-align: center; font-weight: bold;}
      .info { width: 100%; .left-sub,.right-sub {display: inline-block; } }
    }
  }
}
