.homeBody {
  section {
    &.orb-carousel {
      min-height: 500px;
      .carousel {
        .carousel-inner {
          min-height: 500px;
          .carousel-cover {
            position: absolute;
            top: 0;
            background-color: rgba(255,0,0,0.3);
            z-index:8;
            height:100%;
            padding: 10%;
            text-align: center;
            .cover-title {
              font-size: 9rem;
              font-weight: bold;
              color:rgba(255,255,255,1);
              span { color:rgba(0,0,0,1);}

              @media @tablet-screen, @mobile-screen { font-size: 5rem; }
            }
            .cover-text {
              font-size: 1.5rem;
              font-weight: bold;
              color:rgba(255,255,255,1);
              padding: 0 20%;

              @media @tablet-screen, @mobile-screen { font-size: 1.4rem; }
            }
          }
          .item {
            img {
              height: 500px;
              width: 100%;
            }
          }
        }
        .carousel-control, .carousel-indicators { z-index: 9;}
      }
    }

    &.bag-count {
      background-color: @secondColorBack;
      padding: 2% 10%;
      max-height: 200px;
      color: rgba(115,115,115,1);
      .bg-count-text {
        display: inline-block;
        border-right: 1px solid #000;
        width: 50%;
        font-size: 2rem;
      }
      .bg-count-number {
        display: inline-block;
        text-align: center;
        width: 49%;
        vertical-align: top;
        .count { font-size: 3rem; display: block; color: @mainColor; }
        .helper-text { span { vertical-align: super; font-size: .8rem; } img { height:25px; vertical-align: baseline;} }
      }
    }

    &.content-links {
      min-height: 500px;
      padding: 2% 10%;
      h1 {
        text-align: center;
        font-weight: bold;
      }
    }

  }
}
