.mediaBody {
  section {
    &.page-section-header {
      min-height: 200px;
      text-align: center;
      vertical-align: middle;
      .header-text {
         padding: 4% 2%;
         h1, i { display: inline-block; padding: 0 1%; }
       }
    }

    &.media-controls {
      .nav-container {
        .nav {
          .container {
            .navbar-header { }
            .navbar-collapse {
              .nav {
                width: 100%;                
                li {
                  text-align: center;
                  &.lvl1 { width: 50%;}
                  &.lvl2 { width: 20%;}
                  .controls { }
                }
              }
            }
          }
        }
      }
    }
  }
}
