.ourStoryBody {
  .page-section-header { }
  .mission-section {
    min-height: 200px;
    padding-bottom: 30px;
    .section-container {
      .subsection-header { color: rgba(0,0,0,1); }
      p { padding: 0px 15%; font-size: 1.4rem; font-weight: bold; text-align: center; }
    }
  }

  .about-section {
    min-height: 200px;
    padding-top: 5px;
    background-color: rgba(245,245,245,1);
    .section-container {
      .subsection-header { color: rgba(0,0,0,1); i { border: none !important; } }
      //p {
        div {
          padding: 0px 5%;
          font-size: 1.4rem;
          text-align: center;
          visibility: hidden;

          &.screenVisible {
            visibility: visible;
            -webkit-animation:1.5s bounceIn ease;
            animation:1.5s bounceIn ease;
          }
        }
      //}
    }
  }

  .we-do-section {
    min-height: 200px;
    padding-top: 10px;
    background-color: @mainColor;
    .section-container {
      padding-bottom: 30px;
      .subsection-header { color: rgba(0,0,0,1); }

      .we-do-container {
        padding: 20px;
        margin-top: 15px;
        border-radius: 5px;

        background-color: rgba(0,0,0,0.7);
        color: rgba(255,255,255,1);

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch;

        visibility: hidden;

        &.screenVisible {
          visibility: visible;
          -webkit-animation:1.5s flipInX ease;
          animation:1.5s flipInX ease;
        }
        @media @mobile-screen { display: block; }
        .we-item {
          display: inline-block;
          width: 33.33%;
          display: flex;
          @media @mobile-screen { width: 100%; }
          &+.we-item { border-left: 1px solid rgba(255,255,255,1); @media @mobile-screen { border-left: none; border-top: 1px solid rgba(255,255,255,1); }}
          .content-card {
            padding: 7px;
            display: flex;
            flex-direction: column;
            .card-icon {
              text-align: center;
              font-size: 2rem;

              i {
                background-color: rgba(255,255,255,0.2);
                padding: 10px;
                border-radius: 50%;
              }
              img {
                background-color: rgba(255,255,255,0.2);
                padding: 10px;
                border-radius: 50%;
                width: 55px;
              }
            }
            .card-text {
              flex: 1 0 auto;
              .card-title { text-align: center; font-weight: bold; font-size: 1.4rem;}
              p { font-size: 1rem; text-align: center; }
            }
          }
        }
      }
    }
  }
}
