<div class="footer-container">
  <div class="nav-links footer-row">
    <div class="footer-title">Navigate</div>
    <a ui-sref="app"><i class="fa fa-home" aria-hidden="true"></i> <div>Home</div></a>
    <a ui-sref="app.news"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <div>News</div></a>
    <a ui-sref="app.ourstory"><i class="fa fa-book" aria-hidden="true"></i> <div>Our Story</div></a>
    <a ui-sref="app.helpus"><i class="fa fa-handshake-o" aria-hidden="true"></i><div>Help Us</div></a>
    <a ui-sref="app.media"><i class="fa fa-camera-retro" aria-hidden="true"></i><div>Media</div></a>
    <a ui-sref="app.contact"><i class="fa fa-comments-o" aria-hidden="true"></i> <div>Contact Us</div></a>
    <a ui-sref="app.donate"><i class="fa fa-money" aria-hidden="true"></i><div>Donate</div></a>
  </div>

  <div class="contact-links footer-row">
    <div class="footer-title">Follow us</div>
    <a href="http://www.facebook.com/1Reddbag" target="_blank" class="fa fa-facebook fa-lg"></a>
    <a href="https://www.youtube.com/watch?v=raoNTII7JGM" target="_blank" class="fa fa-youtube-play fa-lg"></a>
    <a href="https://www.instagram.com/1reddbag/" target="_blank" class="fa fa-instagram fa-lg"></a>
    <a href="https://www.linkedin.com/" target="_blank" class="fa fa-linkedin-square fa-lg"></a>
    <a href="https://twitter.com/1reddbag" target="_blank" class="fa fa-twitter-square fa-lg"></a>

    <div class="footer-title"><span class="title2">Email:</span> <span>1ReddBagg@gmail.com</span></div>

  </div>

  <div class="nonprofit-status footer-row"><span>1ReddBag is a 501(c)(3) nonprofit orginization</span></div>
  <div style="clear:both"></div>

</div>
