<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime enableVersionHeader="false" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />                
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/CustomErrors/https.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
