<div class="footer-container">
  <div class="nav-links col-md-4">
    <div class="footer-title">Navigate</div>
    <a ui-sref="app">Home</a>
    <a ui-sref="app.news">News</a>
    <a ui-sref="app.ourstory">Our Story</a>
    <a ui-sref="app.helpus">Help Us</a>
    <a ui-sref="app.media">Media</a>
    <a ui-sref="app.contact">Contact Us</a>
    <a ui-sref="app.donate">Donate</a>
  </div>

  <div class="contact-links col-md-4">
    <div class="footer-title">Follow us</div>
    <a href="http://www.facebook.com/1Reddbag" target="_blank" class="fa fa-facebook fa-lg"></a>
    <a href="https://www.youtube.com/watch?v=raoNTII7JGM" target="_blank" class="fa fa-youtube-play fa-lg"></a>
    <a href="https://www.instagram.com/1reddbag/" target="_blank" class="fa fa-instagram fa-lg"></a>
    <a href="https://www.linkedin.com/" target="_blank" class="fa fa-linkedin-square fa-lg"></a>
    <a href="https://twitter.com/1reddbag" target="_blank" class="fa fa-twitter-square fa-lg"></a>

    <div class="footer-title title2">Main Contact Information</div>
    <span>1ReddBagg@gmail.com</span>
  </div>

  <div class="col-md-4"><span>1ReddBag is a 501(c)(3) nonprofit orginization</span></div>
  <div style="clear:both"></div>

</div>
