<div class="footer-container">
  <div class="nav-links col-md-4">
    <div class="footer-title">Navigate</div>
    <a ui-sref="app">Home</a>
    <a ui-sref="app.construction">News</a>
    <a ui-sref="app.construction">Our Story</a>
    <a ui-sref="app.helpus">Help Us</a>
    <a ui-sref="app.construction">Media</a>
    <a ui-sref="app.construction">Contact Us</a>
  </div>

  <div class="contact-links col-md-4">
    <div class="footer-title">Follow us</div>
    <a href="" class="fa fa-envelope-o fa-lg"></a>
    <a href="" class="fa fa-facebook fa-lg"></a>
    <a href="" class="fa fa-youtube-play fa-lg"></a>
    <a href="" class="fa fa-instagram fa-lg"></a>

    <div class="footer-title title2">Contact Information</div>
    <span>1ReddBagg@gmail.com</span>
  </div>

  <div class="col-md-4"></div>
  <div style="clear:both"></div>

</div>
