<div class="nav-container">
    <div class="nav-top">
      <div class="header-logo">
        <img class="" alt="" src="">
        <div class="logo-text">ONE <span>RED</span> BAG</div>
      </div>
    </div>

    <nav class="nav navbar-inverse" id="orb-main-nav" role="navigation" nav-hold>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="orb-inside-nav">
            <li><a ui-sref="app" ng-class="{'active':hdc.checkActivePage('home')}">Home</a></li>
            <li><a ui-sref="app.construction" ng-class="{'active':hdc.checkActivePage('construction')}">News</a></li>
            <li><a ui-sref="app.construction" ng-class="{'active':hdc.checkActivePage('construction')}">Our Story</a></li>
            <li><a ui-sref="app.helpus" ng-class="{'active':hdc.checkActivePage('helpus')}">Help Us</a></li>
            <li><a ui-sref="app.construction" ng-class="{'active':hdc.checkActivePage('construction')}">Media</a></li>
            <li><a ui-sref="app.construction" ng-class="{'active':hdc.checkActivePage('construction')}">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
