<div class="donateBody">
  <section class="page-section-header">
    <i class="fa fa-money"></i>
    <div class="header-text">
      <h1>Donate</h1>
      <p>Your tax deductable donation goes directly to providing food to those in need and increasing the access to much needed resources to sustain and improve everyday life.</p>
    </div>
    <div class="header-img"><img ng-src="{{dc.mainImage}}" ></div>
  </section>

  <section class="donate-section">
    <div class="section-container">
      <div class="donate-container">
        <div class="donate-card donate-text">
          <div class="section-arrow"></div>
          <div class="subsection-header"><i class="fa fa-users" aria-hidden="true"></i> <span>Donate Today</span></div>
          <div class="sub-text">"With $20.00 we can feed up to 15 people"</div>
        </div>
        <div class="donate-card day-buttons">
          <div class="section-arrow"></div>
          <div class="sub-text">Help us feed those in need for a <span>Day</span></div>
          <div class="button-container">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="7U2LSFEL7HKL4">
              <md-button ng-repeat="donation in dc.donationDayAmounts" class="donate-btn md-raised" type="submit" ng-class="dc.DonationType(donation)">${{donation}}</md-button>
            </form>
          </div>
        </div>
        <div class="donate-card season-buttons" is-visible voffset="-400">
          <div class="sub-text">Help us feed those in need for a <span>Season</span></div>
          <div class="button-container">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="7U2LSFEL7HKL4">
              <md-button ng-repeat="donation in dc.donationSeasonAmounts" class="donate-btn md-raised" type="submit" ng-class="dc.DonationType(donation)">${{donation}}</md-button>
              <md-button class="donate-btn md-raised other" type="submit">Other Amount</md-button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
